.my-div {
    /*position: absolute;
    display: none;*/
    margin : 0em;
    margin-right: 0em ;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    flex: 1 0 33.33%;
  }

  .my-divz {
    display: inline;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    /*flex: 1 0 33.33%;*/
  }

  .table-detail {             /* 아이템 눌렀을때 보이는 상세창 */
    position: absolute;
    top : 80px;
    left : -100px;
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 500px; 
    height: 700px;
    margin: 1em 0;
    margin-left:35%;
    z-index: 2;
    font-family: IBM Plex Sans KR-Light;
  }

.table-detail2 {              /* 부품별 창 */
    position: relative;
    display: flex; /* display 속성을 flex로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 480px; 
    height: 100px;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
  }

.table-detail-img {     /*상세보기 이미지*/
  width: 100px;
  height: 100px;
  border: 1px solid #218454; 
  border-radius: 16px;
  padding: 0.5em;
}

.table-detail-name {    /*상세보기 이름*/
  display: flex; 
  width: 250px;
  height: 100px;
  justify-content: center; 
  align-items: center;
  border: 1px solid #218454; 
  border-radius: 16px;
  padding: 0.5em;
}

  .table-detail-price {   /*상세보기 가격*/
  display: flex;
  width: 50px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid #218454; 
  border-radius: 16px;
  padding: 0.5em;
}

.table-div0 {
  position: relative;
  display: flex; /* display 속성을 flex로 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  border: 1px solid #ffebb5; 
  background-color: #ffebb5; 
  border-radius: 16px;
  box-shadow: inset 0 0 8px #deb13a;
  width: 800px; 
  height: 400px;
  padding: 0.5em;
  left: 80px;
  margin-bottom: 1em;
}



.table-div1 {
    position: relative;
    display: flex; /* display 속성을 flex로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 400px; 
    height: 400px;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .abc { 
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
  }

  .table-button-wrapper {
    position: relative;
    border: solid 3px #000000;
  }

.table-button {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
  } 

.imga {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33.333333333%;
  height: 50%;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.imgmain1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33.3%;
  height: 50%;
  position: relative;
  z-index: 0;
  border: 1px solid #ffebb5; 
}

.table-main { 
    position: absolute;
    top :300px;
    left : 0px;
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 500px; height: 500px;
    margin: 1em 0;
    margin-left:35%
  }



.my-tablebig {
    display: flex;
    padding: 0.5em;
    margin: 0.5em 0;
    margin-right: 0.5em;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 952px;
    height: 100%;
    position: absolute;
  }

.rigthfull {
    position: absolute;
    display: none;
    padding: 0.5em;
    margin: 0.5em 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 260px;
    height: 160px;
    flex-wrap: wrap; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center;
}

.titlea {
  display:flex;
}

.adf {
    display:flex;
    border-radius: 16px;
    width: 200px; 
    height: 160px;
    margin: 1em 0;
    margin-left:35%;
    flex-wrap: wrap; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center;
}

.set-buttons{   /*클릭하는 버튼용*/
  display: flex;
  flex-wrap: wrap; /* flex-wrap 속성을 wrap으로 설정 */
  justify-content: space-between;
  padding: 0.5em;
}

.longstring {       /*길면 자를까 했는데 일단 냅둠*/
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  width: 300px;
  height: 20px;
}

.Xbutton {    /* 닫기 버튼용 */
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}