.my-div {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
    margin-right: 0.5em;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: auto;
    height: 100%;
  }

  .my-divin {
    display: flex;
    margin: 1px;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: auto;
    height: 35px;
    align-items: center;
    font-size:25px;
    font-family: IBM Plex Sans KR-Light;
    margin-right: 10px;
  }

.my-div2 {
    display: flex;
    padding-bottom : 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border-bottom: solid 1px #000000;
    width: 100%;
    height: 140px;
    top: 0;
    left: 0;
  }

.Timeline-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
  }

.aim-2 {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 50px;
  
}

.table-title {
  display:flex;
  border-bottom: solid 3px #2c22bb;
  width: 100%; 
  height: 60px;
  flex-wrap: wrap; /* 추가 */
  justify-content: center; /* 추가 */
  align-items: center;
  font-family: IBM Plex Sans KR-Light;
  font-size: 35px;
}

.timeline-table-wrap{
  display: block;
  width: 1024px;
}

.Timeline-keyward{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 35px;
}

.itemkeyward {
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  width: 690px;
  height: 100%;
  background-color: #ababab;
  border: solid 1px #FFF;
}